################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestFirstProject/.vs/TestFirstProject
/TestFirstProject/TestFirstProject/bin/Debug/netcoreapp3.1
/TestFirstProject/TestFirstProject/obj
